.login-page {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100vh;  
}

.page-title {
  
}

.hero-side {
  background-image: linear-gradient(rgba(0, 51, 102, 0.7), rgba(0, 51, 102, 0.7)),url("./assets/hero-background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 65%;
  overflow: hidden;
  color: white;

}

.hero-side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 51, 102, 0.5); 
  backdrop-filter: blur(3px); 
  z-index: 1;
  width: 65%;
}

.hero-side > * {
  position: relative;
  z-index: 2;
}

.hero-title {

}

.title-underline {
  width: 100px;
  height: 1px;
  background-color: white;
  margin-bottom: 30px;
}

.form-side {
  
}

.role-selector {

}

.email-input, .password-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.label-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sign-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}